<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>User Directory</title>
    <link rel='stylesheet' type='text/css' href='main.css'>
  </head>
  <body>
    <div class='all-pictures'>

      {{#data.users}}

        <div class='each-item'>
          <a href="localhost:3000/:id"><img src='{{avatar}}'  class='images'></img></a>
          <div class='text'>
            <a href="localhost:3000/:id"><span class='name'>{{name}}</span></a><br>
            <span class='job'>{{job}}</span><br>
            <span class='company'>{{company}}</span>
          </div>
        </div>

      {{/data.users}}

    <script>
    let abc = document.querySelectorAll('.job');
    for (let i=0; i<abc.length; i++) {
      if (!abc[i].textContent ) {
        abc[i].textContent = 'Available for hire';
        abc[i].setAttribute('class', 'unemployed');}}
    </script>



    </div>
  </body>
</html>
