<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
  </head>
  <body>
    <div class="all-pictures">
      <div class="each-picture">
        <img src="{{avatar}}"></img>
        <p>{{name}}</p>
        <p>{{job}}</p>
        <p>{{company}}</p>



      </div>
    </div>

  </body>
</html>
